* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

/* =======================
BODY
======================= */
body {
    /* min-height: 100vh; */
    width: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
        Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* =======================
ESTRUCTURA
======================= */
header {
    min-height: 10vh;
    /* /* width: 100%; */
}

nav {
    height: 7vh;
    /* width: 100vw; */
}

main {
    /* min-height: 75vh; */
    width: 100%;
    /* padding: 20px; */
}

footer {
    /* min-height: 10vh; */
    width: 100%;
}

/* li {
    margin: 1em 0em 1em 0em;
} */

a {
    text-decoration: none;
    justify-content: center;
    color: inherit;
}

.navelements:hover {
    font-weight: bold;
}

.comentario {
    background-color: rgb(248, 229, 122);
    /* padding: 10px; */
    border-radius: 5px;
}

/* MAIN */
.tituloblog {
    font-size: 4em;
}


.sectionbackground {
    background-color: #3b85fc;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.sectionbackground2 {
    background-color: hsl(36, 100%, 50%);
    color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.img_main {
    width: 80%;
    height: auto;
}

.titulosection2 {
    font-size: 2em;
}

.boto {
    height: 3em;
    border: none;
    border-radius: 100px;
    font-size: 1.5em;
    width: 30%;
    margin-bottom: 0.5em;
}

.boto:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

/* =======================
FLEX
======================= */
.flex {
    display: flex;
}

.rows {
    flex-direction: row;
}

.col {
    flex-direction: column;
}

.flex1 {
    flex: 1;
}

.flex2 {
    flex: 2;
}

.flex3 {
    flex: 3;
}

.flexJustify {
    justify-content: space-around;
    align-items: center;
}

.flexSpcBtw {
    justify-content: space-between;
}

/* NAV */

.nav-elements {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex: 1; 
    align-items: center;
}
.colorbgnav {
    background-color: lab(93.4% 0 -0.01);
    display: flex;
}

.textnav {
    text-decoration: solid;
    color: black;
}

.TextH1 {
    text-align: left;
}

.Textright {
    text-align: right;
}

.inline {
    display: inline;
}

/* post */
.contenedor-post {
    display: flex;
    flex-wrap: wrap;
}

.recuadro {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background: white;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
    gap: 2vh;
}

.elementos-post-inline {
    display: flex;
    justify-content: space-between;
}

.contenido-post {
    display: flex;
    gap: 20px;
    align-items: flex-start;
    flex-wrap: wrap;
}

.contenido-post p {
    flex: 1;
    text-align: justify;
}

.container-div-input input::placeholder {
    padding-left: 2em

}
.imagen-post {
    width: 40%;
    height: auto;
    border-radius: 10px;
}

.comment-box {
    width: 100%;
    display: flex;
    border-radius: 20px;
    height: 2em;
}

/* Contenidor */
.container {
    width: 100%;
    overflow: hidden;
    /* neteja floats */
}


/* flex small */
@media (min-width: 576px) {}

/* fles medium */
@media (min-width: 768px) {}

/* Columnes large */
@media (min-width: 992px) {}