* {
    margin: 0;
    padding: 0;

    list-style: none;
    text-decoration: none;
}

body {
    height: 100vh;
    width: 100vw;
}

header {
    height: 10vh;
    width: 100vw;
}

nav {
    height: 5vh;
    width: 100vw;
}

main {
    height: 75vh;
    width: 100vw;
}

footer {
    height: 10vh;
    width: 100vw;
}

.comentario {
    background-color: rgb(248, 229, 122);
}
/* FLEX */
.flex {
    display: flex;
}

.flex1 {
    flex: 1;
}

.flex2 {
    flex: 2;
}

.flex3 {
    flex: 3;
}

.rows {
    flex-direction: row;
}

.col {
    flex-direction: column;
}

.flexJustify {
    justify-content: center;
    align-items: center;
}

.flexSpcBtw {
    justify-content: space-between;
}

.colorbg {
    background-color: lightgrey;
}

.TextH1 {
    text-align: left;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.inline {
    display: inline;
}

.Textright {
    text-align: right;
}